<template>
  <q-page class="flex flex-center">
    <div class="column">
      <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        control-color="black"
        navigation
        padding
        arrows
        height="300px"
        class="text-black shadow-1 rounded-borders"
      >
        <q-carousel-slide name="style" class="column no-wrap flex-center">
          <q-btn
            color="amber"
            glossy
            text-color="black"
            icon="layers_clear"
            label="Fap"
            stack
            @click="$i18n.locale = 'es-ES'"
          />
        </q-carousel-slide>
        <q-carousel-slide name="tv" class="column no-wrap flex-center">
          <q-btn
            color="amber"
            glossy
            text-color="black"
            icon="layers_clear"
            label="Work"
            stack
          />
        </q-carousel-slide>
        <q-carousel-slide name="layers" class="column no-wrap flex-center">
          <q-btn
            color="amber"
            glossy
            text-color="black"
            icon="layers_clear"
            label="Rest"
            stack
          />
        </q-carousel-slide>
        <q-carousel-slide name="map" class="column no-wrap flex-center">
          <q-btn
            color="amber"
            glossy
            text-color="black"
            icon="layers_clear"
            label="Exercise"
            stack
          />
        </q-carousel-slide>
      </q-carousel>

      <div class="text-center">
        <q-knob
          show-value
          class="text-light-blue q-ma-md"
          v-model="value"
          size="50px"
          color="light-blue"
        />
      </div>

      <!-- <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    /> -->

      <q-input
        v-model="text"
        label="Comentarios"
        placeholder="Describe como te sientes"
      />
      <div class="text-center">
        <q-btn
          push
          color="white"
          class="q-mt-md"
          text-color="primary"
          label="Push"
          @click="sendData"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "PageIndex",
  setup() {
    const slide = ref("style");
    const value = ref(0);
    const lorem = "lorem ipsum";
    const text = ref("");

    const sendData = () => {
      console.log(value.value);
      console.log(slide.value);
      console.log(text.value);
      console.log("Aquí estamos");
    };

    return {
      lorem,
      sendData,
      slide,
      text,
      value,
    };
  },
});
</script>
